[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = the temporary repository for battleship
[access "refs/*"]
	owner = group user/choiseonmun (ChoiSeonMun)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/choiseonmun (ChoiSeonMun)
	label-Verified = -1..+1 group user/choiseonmun (ChoiSeonMun)
	push = group user/choiseonmun (ChoiSeonMun)
	read = group user/choiseonmun (ChoiSeonMun)
	rebase = group user/choiseonmun (ChoiSeonMun)
	removeReviewer = group user/choiseonmun (ChoiSeonMun)
	submit = group user/choiseonmun (ChoiSeonMun)
[access "refs/heads/*"]
	create = group user/choiseonmun (ChoiSeonMun)
	push = +force group user/choiseonmun (ChoiSeonMun)
	pushMerge = group user/choiseonmun (ChoiSeonMun)
	read = group user/choiseonmun (ChoiSeonMun)
[access "refs/tags/*"]
	push = group user/choiseonmun (ChoiSeonMun)
	push = +force group user/choiseonmun (ChoiSeonMun)
